<!DOCTYPE html>
<html>
  <head>
    <title>FeTouchGrass2311</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>


  <body>
  <nav class="navbar" role="navigation" aria-label="main navigation">
    <!--
    <div class="navbar-brand">
      <%= link_to dashboard_path, class: "navbar-item" do %>
        <%= image_tag "logo.png", alt: "Logo" %>
      <% end %>
    </div>
    -->
    <div class="navbar-menu">
      <div class="navbar-start" >
        <%= link_to "My Virtual Garden", dashboard_path, class: "navbar-item" %>
        <%= link_to "Plants", plants_path, class: "navbar-item" %>
        <%= link_to "Plant Search", search_plants_path, class: "navbar-item" %>
        <%= link_to "My Profile", profile_path, class: "navbar-item" %>
        <%= link_to "About Us", about_us_path, class: "navbar-item" %>
      </div>
    </div>
  </nav>

  <%= yield %>
</body>
</html>
