<!DOCTYPE html>
<html>
<head>
  <title>FeTouchGrass2311</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
</head>
<body>
  <nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <%= link_to dashboard_path, class: "navbar-item" do %>
        <%= image_tag "logo.png", alt: "Logo" %>
      <% end %>
      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarMenu" data-controller="navbar" data-action="click->navbar#toggle">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
    <div id="navbarMenu" class="navbar-menu" data-navbar-target="menu">
      <div class="navbar-start">
        <%= link_to "My Virtual Garden", dashboard_path, class: "navbar-item", data: { turbo: false } %>
        <%= link_to "Plant Search", search_plants_path, class: "navbar-item", data: { turbo: false } %>
        <%= link_to "About Us", about_us_path, class: "navbar-item", data: { turbo: false } %>
      </div>
    </div>
  </nav>

  <%= yield %>

  <script>
    document.addEventListener('turbo:load', function () {
      const burgerIcon = document.querySelector('.navbar-burger');
      const navbarMenu = document.getElementById('navbarMenu');

      burgerIcon.addEventListener('click', function () {
        burgerIcon.classList.toggle('is-active');
        navbarMenu.classList.toggle('is-active');
      });
    });
  </script>
</body>
</html>
